.NAVBAR_total{
    background-color: var(--dark);
    display: flex;
    width: 100%;
    height: 80px;
}

.NABAR_picLogo{
    height: 60px;
    padding-bottom: 70vh;
    transition: all 0.5s ease-in-out;
}

.NAVBAR_logo{
    width: 60px;
    height: 60px;
}

.NAVBAR_nav{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.NAVBAR_divLogo{
    display: flex;
    background-color:var(--light);
    height: 80px;
    width: 80px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 0px 10px #11131a;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out;
}

.NAVBAR_rightDiv{
    display: flex;
    padding-right: 50px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.NAVBAR_navList{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.NAVBAR_title{
    color:var(--light);
    font-family: var(--title-font);
    font-size: 20pt;
    list-style: none;
}

.NAVBAR_title:hover{
    color: #66605d;
}

.NAVBAR_accueil{
    display: block;
    position: absolute;
    width: 110px;
    font-family: var(--title-font);
    font-weight: bold;
    text-align: right;
    color:#253A49;
    font-size: 30pt;
    padding-left: 20px;
    opacity: 0;
}

.NAVBAR_divLogo:hover{
    width: 250px;
    transition: 0.2s ease;
}

.NAVBAR_divLogo:hover .NAVBAR_accueil{
    position: inherit;
    opacity: 100;
    transition: 0.3s ease 0.1s;
}

.NAVBAR_burgerMenu{
    display: none;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:450px){
    .NAVBAR_burgerMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5vw;
    }

    .NAVBAR_navList{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 40vh;
        transition: 0.5s ease-in-out;
    }

    .NAVBAR_title{
        color: var(--dark);
    }

    .NAVBAR_rightDiv{
        display: none;
        opacity: 0;
    }
    
    span{
        display: flex;
        background-color: var(--light);
        height: 3px;
        width : 30px;
        margin-bottom: 0.3em;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }


    .NAVBAR_rightDiv.open{
        display: flex;
        position: absolute;
        align-items: center;
        width: 70vw;
        padding-top: 18vh;
        animation-name: opacity;
        animation-duration: 1s;
        opacity: 1;
        }

    .NAVBAR_divLogo.open {
        width: 80vw;
        height: 100vh;
        transition: all 0.5s ease-in-out;
    }

    .NAVBAR_divLogo.open .NAVBAR_picLogo{
        padding-bottom: 80vh;
        transition: all 0.5s ease-in-out;
    }

    .NAVBAR_burgerMenu.open .NAVBAR_spanMid {
        transform: translateX(-50px);
        height: 0px;
    }
    .NAVBAR_burgerMenu.open .NAVBAR_spanTop {
        transform: rotate(45deg) translate(0px, 8px);
    }
    .NAVBAR_burgerMenu.open .NAVBAR_spanBot {
        transform: rotate(-45deg) translate(0px, -8px);
    }

    

}