.NAVBAR_total{
    background-color: var(--dark);
    display: flex;
    width: 100%;
    height: 80px;
}

.NABAR_picLogo{
    height: 60px;
}

.NAVBAR_logo{
    width: 60px;
    height: 60px;
}

.NAVBAR_nav{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.NAVBAR_divLogo{
    display: flex;
    background-color:var(--light);
    height: 80px;
    width: 80px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 0px 10px #11131a;
    border-radius: 0px 5px 5px 0px;
}

.NAVBAR_rightDiv{
    display: flex;
    padding-right: 50px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.NAVBAR_navList{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.NAVBAR_title{
    color:var(--light);
    font-family: var(--title-font);
    font-size: 20pt;
    list-style: none;
}

.NAVBAR_title:hover{
    color: #66605d;
}

.NAVBAR_accueil{
    display: block;
    position: absolute;
    width: 110px;
    font-family: var(--title-font);
    font-weight: bold;
    text-align: right;
    color:#253A49;
    font-size: 30pt;
    padding-left: 20px;
    opacity: 0;
}

.NAVBAR_divLogo:hover{
    width: 250px;
    transition: 0.2s ease;
}

.NAVBAR_divLogo:hover .NAVBAR_accueil{
    position: inherit;
    opacity: 100;
    transition: 0.3s ease 0.1s;
}