:root {
    --main-color: #223645;
    --secondary-color: #9f1524;
    --dark: #1a1d26;
    --light: #fff5ef;
    --light-medium: #dcdcdc;
    --spacing: 8px;
    --spacing-medium: calc(var(--spacing) * 2);
    --spacing-large: calc(var(--spacing) * 4);
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Anton', sans-serif;
  }


body {
    margin: 0;
}
.buttonplay {
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 4rem;
    font-family: var(--title-font);
    color: #9f1524;
    text-shadow: 5px 5px 8px black;
    text-decoration: none;
    padding: 150px;
}
.play {
    margin-left:76vh;
    margin-right: 76vh;
    margin-top: 50vh;
    margin-bottom: 50vh;
    box-shadow: 0 20px 80px #9f1524;
    padding: 40px;
}
.play:hover {
    transition: 0.7s all;
    transform: scale(1.3);
  }
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
 
  @media screen and (max-width: 1024px) {
      .buttonplay {
        font-size: 3rem;
        top: 33%;
      }
}
  @media screen and (max-width: 767px) {
    .buttonplay {
      font-size: 2rem;
      top: 26%;
    }
    .play {
      padding: 20px;
    }
}
