a{
    text-decoration: none;
}

.FOOTER_total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 40vh;
    background-color: var(--dark);
}

.FOOTER_div{
    padding-right: 5vw;
    padding-left: 5vw;
    margin: 0;
}

.FOOTER_divDev{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.FOOTER_logoGithub{
    width:20px;
    height: 20px;
    padding-right: 20px;
}

.FOOTER_title{
    font-family: var(--main-font);
    color: #DCDCDC;
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 2vh;
    margin-bottom: 2vh;
}

.FOOTER_text{
    font-family: var(--main-font);
    color: #FFF5EF;
    margin-top: 1vh;
}

.FOOTER_logo{
    height: 80px;
    width: 80px;
}

@media screen and (max-width:1050px){
    .FOOTER_total{
        flex-direction: column;
        align-items: center;
        height: 130vh;
    }

    .FOOTER_div{
        margin-top: 10vh;
    }
    
}